# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: check-all
        name: Run make check-all
        entry: make check-all
        language: system
        pass_filenames: false
        always_run: true

